/* ======les généraux====== */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --cyan: rgb(194, 228, 255);
    --text-cyan: rgba(194, 225, 255, 0.75);
    --greenly: rgb(130, 212, 157);
    --darkly: rgb(11, 12, 14);
    --text-primary: rgb(38, 40, 44);
    --lightly: rgb(234, 238, 241);
}

/* ======Le body====== */
body {
    background-color: var(--lightly);
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 'sidebar header header header' 'sidebar main main main';
    height: 100vh;
}

/* ====Header==== */
.header {
    background-color: var(--lightly);
    grid-area: header;
    box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.2);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header-left {
    font-size: 1.2rem;
    font-weight: 800;
    user-select: none;
}

.header-right {
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50px;
}

.header-right span {
    position: absolute;
    top: 20px;
    left: 4px;
    text-decoration: none;
    font-size: 2rem;
    color: var(--text-primary);
    cursor: pointer;
}

.header-right:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


/* ====sidebar===== */
#sidebar {
    grid-area: sidebar;
    background-color: var(--darkly);
    color: var(--text-cyan);
    height: 100%;
    overflow-y: auto;
    transition: 0.3s ease-in;
}

.sidebar-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 32px;
    color: var(--lightly);
    pointer-events: none;
    user-select: none;
}

.sidebar-tittle span {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.sidebar-list {
    margin-top: 16px;
    list-style: none;
}

.sidebar-list li:nth-child(6) {
    margin-top: 50px;
}

.sidebar-list-item {
    padding: 20px;
    transition: all .3s ease-in;
}

.sidebar-list-item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--lightly);
}

.sidebar-list-item a .label-item {
    margin-left: 15px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/* ====Main général==== */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
}

.main-tittle {
    display: flex;
    justify-content: space-between;
}

.main-tittle>p {
    font-size: 1.3rem;
}

.main-tittle-sider {
    display: flex;
    text-decoration: none;
    color: var(--darkly);
    justify-content: space-between;
    font-weight: 800;
    position: relative;
    transition: .2s ease-in;
}

.main-tittle-sider>span {
    position: absolute;
    bottom: 10px;
    left: -30px;
}

.main-tittle-sider:hover {
    color: var(--text-primary);
    letter-spacing: 0.1px;
}

/* ====les cartes======== */
.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 24px;
    background-color: var(--greenly);
    border: 1px solid var(--cyan);
    box-shadow: 5px 5px 12px -4px rgba(0, 0, 0, 0.2);
    border-radius: 0 7px 7px 0;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.card-inner>span {
    font-size: 2rem;
    user-select: none;
}

.card:nth-child(1) {
    border-left: 7px solid #eba91d;
    user-select: none;
}

.card:nth-child(2) {
    border-left: 7px solid #434738;
    user-select: none;
}

.card:nth-child(3) {
    border-left: 7px solid #bc1e51;
    user-select: none;
}

.text-yellow {
    color: #eba91d;
}

.text-green {
    color: #434738;
}

.text-red {
    color: #bc1e51;
}

.text-primary {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: 800;
}

.fw-600 {
    font-weight: 800;
}

/* ========titre sur les graphiques======== */
.charts-card>p {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}

/* ======Abonné======= */
.container-abonne {
    padding-top: 30px;
}

.recherche-abonne {
    display: flex;
    position: relative;
    padding-left: 15px;
    width: 300px;
}

.recherche-abonne>span {
    position: absolute;
    bottom: 20px;
    left: 30px;
    user-select: none;
}

.recherche-abonne>input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    outline: none;
    font-size: 18px;
    letter-spacing: 0.1rem;
    border: 1px solid var(--text-primary);
}

.container-abonne .list-abonne {
    position: relative;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
}

.container-abonne .list-abonne table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
}

table thead {
    font-weight: 800;
    height: 40px;
    background-color: var(--greenly);
    user-select: none;
}

table tr td {
    padding: 10px;
}

.container-abonne .list-abonne table thead tr td:nth-child(1) {
    width: 3%;
}

.container-abonne .list-abonne table thead tr td:nth-child(2) {
    width: 18%;
}

.container-abonne .list-abonne table thead tr td:nth-child(3) {
    width: 20%;
}

.container-abonne .list-abonne table thead tr td:nth-child(4) {
    width: 13%;
}

.container-abonne .list-abonne table thead tr td:nth-child(5) {
    width: 14%;
}

.container-abonne .list-abonne table thead tr td:nth-child(6) {
    width: 14%;
}

.container-abonne .list-abonne table thead tr td:nth-child(7) {
    width: 8%;
}

.container-abonne .list-abonne table thead tr td:nth-child(8) {
    width: 10%;
}

table tbody tr:nth-child(even) {
    background-color: var(--text-cyan);
}

.container-abonne .list-abonne table tbody tr td a {
    text-decoration: none;
    color: var(--darkly);
    padding: 5px;
    font-weight: 800;
    font-size: 14px;
    transition: .2s ease-in;
}

.container-abonne .list-abonne table tbody tr td a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

table tbody tr {
    color: var(--darkly);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

table tr:last-child {
    border: none;
}

.container-abonne .list-abonne table .status {
    padding: 3px 5px;
    color: var(--lightly);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
    border: 1px solid var(--lightly);
    user-select: none;
    background-color: #0088ffab;
}

/* .container-abonne .list-abonne table .CONNECT {
    background-color: #00FF00;
}

.container-abonne .list-abonne table .ISOLER {
    background-color: #FF0000;
} */

/* =========Admin========= */
.container-admin {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 20px;
    grid-template-areas: 'list forml';
    overflow-y: auto;
}

.container-admin .list-admin {
    grid-area: list;
    width: 100%;
    overflow-y: auto;
}

.container-admin .list-admin table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
    text-align: center;
    position: relative;
    justify-content: center;
}

.container-admin .list-admin table thead tr td:nth-child(1) {
    width: 10%;
}

.container-admin .list-admin table thead tr td:nth-child(2) {
    width: 25%;
}

.container-admin .list-admin table thead tr td:nth-child(3) {
    width: 30%;
}

.container-admin .list-admin table thead tr td:nth-child(4) {
    width: 8%;
}

.container-admin .list-admin table thead tr td:nth-child(5) {
    width: 27%;
}

.container-admin .list-admin table tbody td a {
    text-decoration: none;
    color: var(--darkly);
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    transition: .2s ease-in;
}

.container-admin .list-admin table tbody td a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container-admin .form-admin {
    grid-area: forml;
    margin: 0 auto;
    width: 400px;
    /* position: fixed; */
    right: 40px;
    overflow-y: auto;
}

.container-admin .form-admin form {
    background-color: #fff;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
}

.container-admin .form-admin form h2 {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    user-select: none;
}

.container-admin .form-admin form .inputBox {
    position: relative;
    margin-bottom: 30px;
    font-size: 1rem;
}

.container-admin .form-admin form .inputBox input {
    font-size: 1rem;
    width: 70%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #a8a8a8;
    outline: none;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-in;
}

.container-admin .form-admin form .inputBox label {
    position: absolute;
    left: 55px;
    padding: 10px 0;
    color: #a8a8a8;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-in;
    user-select: none;
}

.container-admin .form-admin form .inputBox input:focus,
.container-admin .form-admin form .inputBox input:valid {
    border-bottom: 2px solid var(--greenly);
}

.container-admin .form-admin form .inputBox input:focus~label,
.container-admin .form-admin form .inputBox input:valid~label {
    color: var(--greenly);
    letter-spacing: 0.15em;
    transform: translateY(-25px);
    font-size: 0.9rem;
    font-weight: 800;
}

.container-admin .form-admin form .submit {
    background: var(--greenly);
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    width: 40%;
    transition: 0.3s ease-in;
}

.container-admin .form-admin form .submit:hover {
    font-weight: 800;
}

/*========compteurs===========*/
.container-count {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-template-areas: 'list-count add-count';
    justify-content: center;
    margin-top: 30px;
    grid-gap: 20px;
}

.container-count .list-count {
    grid-area: list-count;
    width: 100%;
    padding-right: 40px;
}

.container-count .list-count table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
    position: relative;
    justify-content: center;
}

.container-count .list-count table tbody tr .status-count {
    font-weight: 800;
    font-size: 14px;
    color: var(--lightly);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--lightly);
    user-select: none;
}

.container-count .list-count table tbody tr .free {
    background-color: #00FF00;
}

.container-count .list-count table tbody tr .occupied {
    background-color: #FF0000;
}
.container-count .list-count table tbody td a {
    text-decoration: none;
    color: var(--darkly);
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    transition: .2s ease-in;
}

.container-count .list-count table tbody td a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.container-count .add-count {
    width: 90%;
    margin: 0 auto;
}

.container-count .add-count form {
    background: #fff;
    padding: 30px 30px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.container-count .add-count form h2 {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 30px;
    user-select: none;
}

.container-count .add-count form .inputBox {
    position: relative;
    margin-bottom: 30px;
    font-size: 1rem;
}

.container-count .add-count form .inputBox input {
    font-size: 1rem;
    width: 70%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #a8a8a8;
    outline: none;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-in;
}

.container-count .add-count form .inputBox label {
    position: absolute;
    left: 42px;
    padding: 10px 0;
    color: #a8a8a8;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-in;
    user-select: none;
}

.container-count .add-count form .inputBox input:focus,
.container-count .add-count form .inputBox input:valid {
    border-bottom: 2px solid var(--greenly);
}

.container-count .add-count form .inputBox input:focus~label,
.container-count .add-count form .inputBox input:valid~label {
    color: var(--greenly);
    letter-spacing: 0.15em;
    transform: translateY(-25px);
    font-size: 0.9rem;
    font-weight: 900;
}

.container-count .add-count form .submit {
    background: var(--greenly);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    width: 50%;
    transition: 0.3s ease-in;
    margin: 0 auto;
}

.container-count .add-count form .submit:hover {
    font-weight: 800;
}


/* ======Payement========== */
.main-container .titrePayement {
    margin-bottom: 40px;
}
.payement {
    width: 400px;
    margin: 0 auto;
}

.payement form {
    background: #fff;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.payement form h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    user-select: none;
}

.payement form .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    font-size: 1rem;
}

.payement form .inputBox input {
    font-size: 1rem;
    width: 80%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #a8a8a8;
    outline: none;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-in;
}

.payement form .inputBox label {
    position: absolute;
    left: 35px;
    padding: 10px 0;
    color: #a8a8a8;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-in;
    user-select: none;
}

.payement form .inputBox input:focus,
.payement form .inputBox input:valid {
    border-bottom: 2px solid var(--greenly);
}

.payement form .inputBox input:focus~label,
.payement form .inputBox input:valid~label {
    color: var(--greenly);
    letter-spacing: 0.15em;
    transform: translateY(-25px);
    font-size: 0.9rem;
    font-weight: 800;
}

form .inputBox select {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border: none;
    outline: none;
    font-family: 'Nunito Sans';
    transition: .3s ease-in;
}

form .inputBox select:hover,
form .inputBox select:valid {
    background-color: var(--greenly);
    font-weight: 800;
}
.payement form .payer {
    background: var(--greenly);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    margin-bottom: -20px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    width: 30%;
    transition: 0.3s ease-in;
    margin: 0 auto;
}
.payement form .payer:hover {
    font-weight: 800;
}


/*=======Add-Abonné======*/
.add-new-abonne {
    display: flex;
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
}
.add-new-abonne form {
    background: #fff;
    width: 90%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.add-new-abonne form h2 {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    user-select: none;
    text-transform: uppercase;
}
.add-new-abonne form .inputBox {
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1rem;
}
.add-new-abonne form .inputBox input {
    font-size: 1rem;
    width: 90%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #a8a8a8;
    outline: none;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-in;
}
.add-new-abonne form .inputBox label {
    position: absolute;
    left: 12px;
    padding: 10px 0;
    color: #a8a8a8;
    letter-spacing: 0.2rem;
    transition: 0.2s ease-in;
    user-select: none;
}
.add-new-abonne form .inputBox input:focus,
.add-new-abonne form .inputBox input:valid {
    border-bottom: 2px solid var(--greenly);
}
.add-new-abonne form .inputBox input:focus~label,
.add-new-abonne form .inputBox input:valid~label {
    color: var(--greenly);
    transform: translateY(-25px);
    font-size: 0.9rem;
    font-weight: 900;
}
.add-new-abonne form .submit {
    background: var(--greenly);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    width: 40%;
    transition: 0.3s ease-in;
}
.add-new-abonne form .submit:hover {
    font-weight: 800;
}
.add-new-abonne form .inputBox select {
    width: 90%;
    letter-spacing: 0.05rem;
}


/*=====ID-Abonné===== */
.id-abonne {
    overflow-y: auto;
}
.id-abonne-all {
    margin-bottom: 30px;
}
.id-abonne-all .id-abonne-all-first tr {
    text-align: left;
    border: none;
    user-select: none;
}
.id-abonne-all .id-abonne-all-first tr td:first-child {
    font-weight: 800;
}
.id-abonne table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.id-abonne table caption {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 800;
    user-select: none;
}
.id-abonne table tbody tr .status-abonne {
    padding: 5px;
    font-weight: 800;
    color: var(--lightly);
    border-radius: 5px;
}
.id-abonne table tbody tr .done {
    background-color: #00FF00;
}
.id-abonne table tbody tr .fail {
    background-color: #FF0000;
}